table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
  }



th{
  background-color: hsl(348, 88%, 39%);
  color:white;
}
  
  td, th {
    text-align: left;
    padding: 0.5rem;
    font-weight: bold;
  }
  
tr:nth-child(even) {
    background-color:white;
  }
  tr:nth-child(odd) {
    background-color:hsl(348, 88%, 95%);
  }


